hotkey-overlay {
    skip-at-startup
}

environment {
    DMS_RUN_GREETER "1"
}

input {
    keyboard {
        xkb {
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }
}

gestures {
    hot-corners {
        off
    }
}

layout {
    background-color "#000000"
}
